html, body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 18px;
}

.post-title {
    margin: 0 0 8px 0;
}

.comment {
    padding: 4px;
}

.comment-name, .comment-date {
    margin: 0;
}

.comment-content {
    margin: 4px 0 0 0;
}
