{% extends "page.html" %}
{% block content %}
{% for post in posts %}
<div class="well post">
    <h2 class="post-title">{{ post.title }}</h2>
    <h4 class="post-date">{{ post.date }}</h4>
    <p>{{ post.preview }}</p>
    <a href="{{ post.permalink }}">Continue reading...</a>
</div>
{% endfor %}
{% endblock %}
