<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/page.css">
  </head>
  <body>

{% include "header.html" %}
<div class="container">
{% block content %}
{% endblock %}
</div>

  </body>
</html>
