{% extends "page.html" %}
{% block content %}
<div class="well post">
  <h2 class="post-title">{{ post.title }}</h2>
  <h4 class="post-date">{{ post.date }}</h4>
  <p>{{ post.contents | safe }}</p>
  <a href="/">Get me out of here...</a>
</div>
<h2>Comments</h2>
{% for comment in comments %}
<div class="well comment">
  <h4 class="comment-name">{{ comment.name }}</h2>
  <h6 class="comment-date">{{ comment.date }}</h4>
  <p class="comment-content">{{ comment.contents }}</p>
</div>
{% endfor %}
<h2>Make a Comment</h2>
<form action="/comment", method="get">
  <input type="hidden" name="permalink" value="{{ post.permalink }}">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" id="name" name="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="contents">Comment</label>
    <textarea class="form-control" id="contents" name="contents" placeholder="Comment"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
